@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&family=Passion+One:wght@400;700;900&family=Share+Tech+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte3);
}


:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Sriracha", cursive;
}

header{
    background-color: black;
    padding: 50px;
    padding-bottom: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
}



h1{
    font-variant-caps: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;

}


header > p{
    font: 300 normal 1em sans-serif;
    margin-bottom: 20px;
    margin-top: 0px;
}

p > a{
    color: white;
    text-decoration: none;
    font: bold normal 1em  var(--fonte1);
    margin-top: 0px;
}

p > a:hover{
    text-decoration: underline;
}

main p{
    font-variant-caps: small-caps;
    font: 500 normal 3.5vw var(--fonte3);

    line-height: 2em;
}

section{
    margin-top: 10vh;
    margin-bottom: 17vh;
    padding-left: 30px;
}

section#sessão2{
    margin-top: 0vh;
    background-color: lightblue;
    padding: 9vh 30px;
}


section#sessão2 > p{
    color: white;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.74);
    padding: 10px 3px;
}